[Unit]
Description=Scheduling extract-transform.service every 2 hours

[Timer]
OnUnitActiveSec=2h
Unit=extract-transform.service

[Install]
WantedBy=timers.target
